<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.web>
        <compilation debug="true" />
    </system.web>
    <!-- 部署服务库项目时，必须将配置文件的内容添加到
 主机的 app.config 文件中。System.Configuration 不支持库的配置文件。 -->
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="netmsmqBinding" exactlyOnce="false">
                    <security mode="None"></security>
                </binding>
            </netMsmqBinding>
        </bindings>
        <services>
            <service name="ServiceMSMQ.MsmqService" behaviorConfiguration="mxbehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress = "http://localhost:8738/Design_Time_Addresses/ServiceMSMQ/MsmqService/" />
                    </baseAddresses>
                </host>
                <!-- Service Endpoints -->
                <!-- 除非完全限定，否则地址将与上面提供的基址相关 -->
                <endpoint address="net.msmq://localhost/private/myqueue" bindingConfiguration="netmsmqBinding" binding="netMsmqBinding" contract="ServiceMSMQ.IMsmqService">
                    <!-- 
              部署时，应删除或替换下列标识元素，以反映
             用来运行所部署服务的标识。删除之后，WCF 将
              自动推断相应标识。
          -->
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <!-- Metadata Endpoints -->
                <!-- 元数据交换终结点供相应的服务用于向客户端做自我介绍。 -->
                <!-- 此终结点不使用安全绑定，应在部署前确保其安全或将其删除 -->
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mxbehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>

</configuration>
